@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Proxima700';
    src: url('../public/fonts/ProximaNova-Bold.woff');
}

@font-face {
    font-family: 'Proxima400';
    src: url('../public/fonts/ProximaNova-Regular.woff');
}

@font-face {
    font-family: 'Proxima300';
    src: url('../public/fonts/ProximaNova-Light.woff');
}

@font-face {
    font-family: 'Roboto400';
    src: url('../public/fonts/Roboto-Regular.woff');
}

@font-face {
    font-family: 'Proxima600';
    src: url('../public/fonts/ProximaNova-Semibold.woff');
}

body {
    margin: 0;
    background: #E6E9F2;
}